@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url("/font/roboto/Roboto-Thin.woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("/font/roboto/Roboto-Light.woff") format(woff); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("/font/roboto/Roboto-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("/font/roboto/Roboto-Medium.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("/font/roboto/Roboto-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("/font/roboto/Roboto-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("/font/roboto/Roboto-Italic.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("/font/roboto/Roboto-MediumItalic.woff") format("woff"); }

@font-face {
  font-family: 'myFont-cn';
  src: url("/font/roboto/myFont-cn.TTF"), url("/font/roboto/myFont-cn.eot");
  /* IE9+ */ }

html, body, div, p, fieldset, button, h1, h2, h3, input, form, ul, ol, dl, li, dt, dd {
  margin: 0;
  padding: 0;
  border: 0; }

html, body {
  font: 12px/1.5 'Roboto', sans-serif, 'Lucida Grande', Arial, 'Liberation Sans', FreeSans;
  color: #616161; }

ul, ol, dl {
  list-style: none; }

.main {
  width: 80%;
  height: 120px;
  margin: 0 auto; }

.verify-bg {
  background: #ee6e73; }

.oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.alingCenter {
  text-align: center; }

.mainDiv {
  width: 80%;
  margin: 0 auto; }

.floatR {
  float: right; }

.inputShadow {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.18), 1px 1px 3px 1px rgba(0, 0, 0, 0.15); }

.divShadow {
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.18), 1px 2px 4px 1px rgba(0, 0, 0, 0.15); }

.divShadow:hover {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.18), 1px 1px 3px 1px rgba(0, 0, 0, 0.15); }

@keyframes rotate360 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

.my-loader {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999;
  background: #000;
  opacity: 0.8; }
  .my-loader .loader {
    width: 10em;
    height: 10em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5em 0 0 -5em;
    background: none;
    border: 3px solid transparent;
    border-top-color: #3498db;
    border-radius: 50%;
    box-sizing: inherit;
    -webkit-animation-name: rotate360;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    /*cubic-bezier(1, .54, 0, .53);*/
    animation-name: rotate360;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /*cubic-bezier(1, .54, 0, .53);*/ }
  .my-loader .loader::before {
    display: none;
    content: "";
    position: absolute;
    left: 1em;
    top: 1em;
    right: 1em;
    bottom: 1em;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    border-radius: 50%;
    -webkit-animation-name: rotate360;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    /*cubic-bezier(1, .54, 0, .53);*/
    animation-name: rotate360;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /*cubic-bezier(1, .54, 0, .53);*/ }
  .my-loader .loader::after {
    display: none;
    content: "";
    position: absolute;
    left: 2em;
    top: 2em;
    right: 2em;
    bottom: 2em;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    border-radius: 50%;
    -webkit-animation-name: rotate360;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    /*cubic-bezier(1, .54, 0, .53);*/
    animation-name: rotate360;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /*cubic-bezier(1, .54, 0, .53);*/ }

.login-page {
  position: relative;
  width: 100%;
  height: 100%; }
  .login-page .manager {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .login-page .manager .manager-head {
      height: 64px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0; }
    .login-page .manager .manager-body {
      position: absolute;
      top: 64px;
      left: 0;
      width: 100%;
      overflow-y: auto; }
      .login-page .manager .manager-body .user-list .table .head-img {
        width: 20%;
        max-width: 100px; }
        .login-page .manager .manager-body .user-list .table .head-img img {
          width: 100%;
          max-width: 80px; }
  .login-page .loginForm {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1000; }
    .login-page .loginForm .login-head {
      height: 250px;
      background-color: #fbbc05; }
    .login-page .loginForm .login-table {
      width: 400px;
      height: 400px;
      position: absolute;
      left: 50%;
      top: 370px;
      margin-left: -200px;
      margin-top: -100px; }

.verifyUser {
  width: 30em;
  height: 46em;
  border-radius: 5px;
  background: #546e7a;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -23em;
  margin-left: -15em; }
  .verifyUser dl.verify-item {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    color: #fff; }
    .verifyUser dl.verify-item dt {
      height: 5em;
      line-height: 5em;
      font-size: 2em; }
      .verifyUser dl.verify-item dt img {
        margin-top: 1em;
        width: 4em;
        height: 4em;
        border-radius: 50%; }
    .verifyUser dl.verify-item dd {
      width: 100%;
      line-height: 2.4em;
      font-size: 1.4em; }
  .verifyUser .verify-btn {
    width: 80%;
    text-align: center;
    font-size: 1.6em;
    position: absolute;
    left: 10%;
    bottom: 0; }
    .verifyUser .verify-btn .btn-ct {
      width: 50%;
      height: 4em;
      line-height: 4em;
      display: inline-block; }
